In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
list1 = [[0,1,2,3],[4,5,6,7]]
df = DataFrame(data = list1,
              index = ['sat1', 'sat2'],
              columns = ['sut1', 'sut2', 'sut3', 'sut4'])
df

      sut1  sut2  sut3  sut4
sat1     0     1     2     3
sat2     4     5     6     7

In [7]:
df = DataFrame(np.arange(8).reshape(2,4),
              index= ['sat1', 'sat2'],
              columns = ['sut1', 'sut2', 'sut3', 'sut4'])#ikinci y√∂ntem
df

      sut1  sut2  sut3  sut4
sat1     0     1     2     3
sat2     4     5     6     7

In [ ]:
nba = pd.read_csv()