In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [6]:
df = pd.read_csv('veri_groupby.csv')

In [7]:
df

    deger1  deger2        gün     renk     isim
0       12      15  pazartesi  kirmizi     berk
1        4      16       sali  kirmizi  theresa
2        9      25   carsamba  kirmizi    melih
3       15      65  pazartesi    siyah    alina
4       23      55       sali    siyah      ibo
5       22      39   carsamba    siyah     kaan
6       16      18  pazartesi     mavi     berk
7        8      47       sali     mavi  theresa
8       62      64   carsamba     mavi    melih
9       19      81  pazartesi    yesil    alina
10      21      92       sali    yesil      ibo
11      56      76   carsamba    yesil     kaan

In [8]:
group1 = df.groupby(df['isim'])

In [10]:
group1.groups

{'alina': Int64Index([3, 9], dtype='int64'),
 'berk': Int64Index([0, 6], dtype='int64'),
 'ibo': Int64Index([4, 10], dtype='int64'),
 'kaan': Int64Index([5, 11], dtype='int64'),
 'melih': Int64Index([2, 8], dtype='int64'),
 'theresa': Int64Index([1, 7], dtype='int64')}

group1.sum()

In [11]:
group1.mean()

         deger1  deger2
isim
alina      17.0    73.0
berk       14.0    16.5
ibo        22.0    73.5
kaan       39.0    57.5
melih      35.5    44.5
theresa     6.0    31.5

In [12]:
group2 = df['deger2'].groupby(df['renk'])

In [15]:
group2.groups

{'kirmizi': Int64Index([0, 1, 2], dtype='int64'),
 'mavi': Int64Index([6, 7, 8], dtype='int64'),
 'siyah': Int64Index([3, 4, 5], dtype='int64'),
 'yesil': Int64Index([9, 10, 11], dtype='int64')}

group2.max()

In [16]:
df.groupby(['isim','renk']).sum

In [17]:
df.groupby(df['renk']).describe()

        deger1                                                     deger2  \
         count       mean        std   min   25%   50%   75%   max  count
renk
kirmizi    3.0   8.333333   4.041452   4.0   6.5   9.0  10.5  12.0    3.0
mavi       3.0  28.666667  29.143324   8.0  12.0  16.0  39.0  62.0    3.0
siyah      3.0  20.000000   4.358899  15.0  18.5  22.0  22.5  23.0    3.0
yesil      3.0  32.000000  20.808652  19.0  20.0  21.0  38.5  56.0    3.0


              mean        std   min   25%   50%   75%   max
renk
kirmizi  18.666667   5.507571  15.0  15.5  16.0  20.5  25.0
mavi     43.000000  23.259407  18.0  32.5  47.0  55.5  64.0
siyah    53.000000  13.114877  39.0  47.0  55.0  60.0  65.0
yesil    83.000000   8.185353  76.0  78.5  81.0  86.5  92.0

In [18]:
df

    deger1  deger2        gün     renk     isim
0       12      15  pazartesi  kirmizi     berk
1        4      16       sali  kirmizi  theresa
2        9      25   carsamba  kirmizi    melih
3       15      65  pazartesi    siyah    alina
4       23      55       sali    siyah      ibo
5       22      39   carsamba    siyah     kaan
6       16      18  pazartesi     mavi     berk
7        8      47       sali     mavi  theresa
8       62      64   carsamba     mavi    melih
9       19      81  pazartesi    yesil    alina
10      21      92       sali    yesil      ibo
11      56      76   carsamba    yesil     kaan

In [19]:
df.groupby('renk').groups

{'kirmizi': Int64Index([0, 1, 2], dtype='int64'),
 'mavi': Int64Index([6, 7, 8], dtype='int64'),
 'siyah': Int64Index([3, 4, 5], dtype='int64'),
 'yesil': Int64Index([9, 10, 11], dtype='int64')}

In [20]:
for renk_adi, grup in df.groupby('renk'):
    print('Bu %s grubudur' %renk_adi)
    print(grup)
    print('\n')

Bu kirmizi grubudur
   deger1  deger2        gün     renk     isim
0      12      15  pazartesi  kirmizi     berk
1       4      16       sali  kirmizi  theresa
2       9      25   carsamba  kirmizi    melih


Bu mavi grubudur
   deger1  deger2        gün  renk     isim
6      16      18  pazartesi  mavi     berk
7       8      47       sali  mavi  theresa
8      62      64   carsamba  mavi    melih


Bu siyah grubudur
   deger1  deger2        gün   renk   isim
3      15      65  pazartesi  siyah  alina
4      23      55       sali  siyah    ibo
5      22      39   carsamba  siyah   kaan


Bu yesil grubudur
    deger1  deger2        gün   renk   isim
9       19      81  pazartesi  yesil  alina
10      21      92       sali  yesil    ibo
11      56      76   carsamba  yesil   kaan

In [28]:
df.groupby('gün').groups

{'carsamba': Int64Index([2, 5, 8, 11], dtype='int64'),
 'pazartesi': Int64Index([0, 3, 6, 9], dtype='int64'),
 'sali': Int64Index([1, 4, 7, 10], dtype='int64')}

In [26]:
for gun_adi, grup in df.groupby('gün'):
    print('bu %s grubudur' %gun_adi)
    print(grup)
    print('\n')

bu carsamba grubudur
    deger1  deger2       gün     renk   isim
2        9      25  carsamba  kirmizi  melih
5       22      39  carsamba    siyah   kaan
8       62      64  carsamba     mavi  melih
11      56      76  carsamba    yesil   kaan


bu pazartesi grubudur
   deger1  deger2        gün     renk   isim
0      12      15  pazartesi  kirmizi   berk
3      15      65  pazartesi    siyah  alina
6      16      18  pazartesi     mavi   berk
9      19      81  pazartesi    yesil  alina


bu sali grubudur
    deger1  deger2   gün     renk     isim
1        4      16  sali  kirmizi  theresa
4       23      55  sali    siyah      ibo
7        8      47  sali     mavi  theresa
10      21      92  sali    yesil      ibo