In [5]:
import numpy as np

In [8]:
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import rand

In [12]:
ser = Series(data=rand(6),
            index=[[1,1,1,2,2,2],['s1','s2','s3','s1','s2','s3']])
ser

1  s1    0.235804
   s2    0.736358
   s3    0.061299
2  s1    0.399903
   s2    0.507025
   s3    0.294081
dtype: float64

In [13]:
ser.index

MultiIndex([(1, 's1'),
            (1, 's2'),
            (1, 's3'),
            (2, 's1'),
            (2, 's2'),
            (2, 's3')],
           )

In [15]:
ser[1]['s2']

0.7363582891599533

In [16]:
ser[1,'s2']#2.yöntem

0.7363582891599533

In [17]:
ser[:,'s1']

1    0.235804
2    0.399903
dtype: float64

In [18]:
df = ser.unstack() #bir seriyi dataframe e dönüştüren metot

In [19]:
df

         s1        s2        s3
1  0.235804  0.736358  0.061299
2  0.399903  0.507025  0.294081

In [33]:
df = DataFrame(np.arange(16).reshape(4,4),
              index=[['a','a','b','b'],[5,6,5,6]],
              columns=[['ank','esk','esk','ist'],['uzk','ykn','uzk','ykn']])
df

    ank esk     ist
    uzk ykn uzk ykn
a 5   0   1   2   3
  6   4   5   6   7
b 5   8   9  10  11
  6  12  13  14  15

In [34]:
df.loc['a']

  ank esk     ist
  uzk ykn uzk ykn
5   0   1   2   3
6   4   5   6   7

In [35]:
df.loc['a'].loc[5]

ank  uzk    0
esk  ykn    1
     uzk    2
ist  ykn    3
Name: 5, dtype: int32

In [36]:
df.xs(['a',5])#crosssection

ank  uzk    0
esk  ykn    1
     uzk    2
ist  ykn    3
Name: (a, 5), dtype: int32

In [37]:
df.index

MultiIndex([('a', 5),
            ('a', 6),
            ('b', 5),
            ('b', 6)],
           )

In [38]:
df.columns

MultiIndex([('ank', 'uzk'),
            ('esk', 'ykn'),
            ('esk', 'uzk'),
            ('ist', 'ykn')],
           )

In [39]:
df

    ank esk     ist
    uzk ykn uzk ykn
a 5   0   1   2   3
  6   4   5   6   7
b 5   8   9  10  11
  6  12  13  14  15

In [40]:
df.index.names = ['harf','deger']

In [41]:
df.columns.names = ['sehir','mesafe']

In [42]:
df

sehir      ank esk     ist
mesafe     uzk ykn uzk ykn
harf deger
a    5       0   1   2   3
     6       4   5   6   7
b    5       8   9  10  11
     6      12  13  14  15

In [45]:
df.swaplevel('sehir','mesafe', axis=1)#girilen 2 ekseni degiştirir

mesafe     uzk ykn uzk ykn
sehir      ank esk esk ist
harf deger
a    5       0   1   2   3
     6       4   5   6   7
b    5       8   9  10  11
     6      12  13  14  15

In [46]:
df.sort_index(axis=1, level='mesafe')#harfe göre sıraladı

sehir      ank esk     ist
mesafe     uzk uzk ykn ykn
harf deger
a    5       0   2   1   3
     6       4   6   5   7
b    5       8  10   9  11
     6      12  14  13  15

In [47]:
df.sort_index(axis=0, level='deger')

sehir      ank esk     ist
mesafe     uzk ykn uzk ykn
harf deger
a    5       0   1   2   3
b    5       8   9  10  11
a    6       4   5   6   7
b    6      12  13  14  15

In [48]:
df.xs(6,level='deger')

sehir  ank esk     ist
mesafe uzk ykn uzk ykn
harf
a        4   5   6   7
b       12  13  14  15

In [49]:
df.sum(axis=1,level='mesafe')

mesafe      uzk  ykn
harf deger
a    5        2    4
     6       10   12
b    5       18   20
     6       26   28

In [50]:
df

sehir      ank esk     ist
mesafe     uzk ykn uzk ykn
harf deger
a    5       0   1   2   3
     6       4   5   6   7
b    5       8   9  10  11
     6      12  13  14  15