In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
list('xyz')

['x', 'y', 'z']

In [3]:
ser1 = Series(data=np.arange(1,4),
             index=list('xyz'))
ser1

x    1
y    2
z    3
dtype: int32

In [4]:
ser1.reindex(list('xyzm'))

x    1.0
y    2.0
z    3.0
m    NaN
dtype: float64

In [5]:
ser1.reindex(list('xyzm'),fill_value=111)

x      1
y      2
z      3
m    111
dtype: int32

In [6]:
ser2 = Series(data=['ank','esk','ist'],
             index=[0,4,9])

In [7]:
ser2

0    ank
4    esk
9    ist
dtype: object

In [10]:
ser2.reindex(np.arange(15),method='ffill')

0     ank
1     ank
2     ank
3     ank
4     esk
5     esk
6     esk
7     esk
8     esk
9     ist
10    ist
11    ist
12    ist
13    ist
14    ist
dtype: object

In [11]:
from numpy.random import rand

In [12]:
df = DataFrame(rand(6).reshape(2,3),
              index=['sat1','sat2'],
              columns=['sut1','sut2','sut3'])
df

          sut1      sut2      sut3
sat1  0.456608  0.079577  0.047585
sat2  0.523103  0.201445  0.175567

In [13]:
df.reindex(labels=['sat1','sat2','sat3'],axis=0)

          sut1      sut2      sut3
sat1  0.456608  0.079577  0.047585
sat2  0.523103  0.201445  0.175567
sat3       NaN       NaN       NaN

In [14]:
df

          sut1      sut2      sut3
sat1  0.456608  0.079577  0.047585
sat2  0.523103  0.201445  0.175567

In [20]:
df.reindex(index=['sat1','sat2','sat3'],method='ffill')

          sut1      sut2      sut3
sat1  0.456608  0.079577  0.047585
sat2  0.523103  0.201445  0.175567
sat3  0.523103  0.201445  0.175567

In [21]:
df.reindex(index=['sat1','sat2','sat3'],fill_value=1)

          sut1      sut2      sut3
sat1  0.456608  0.079577  0.047585
sat2  0.523103  0.201445  0.175567
sat3  1.000000  1.000000  1.000000

In [ ]:
df.reindex