In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [2]:
ser1 = Series( data=[5,4,6],
             index=['x','m','n'])

In [3]:
ser1

x    5
m    4
n    6
dtype: int64

In [4]:
ser1.sort_index()

m    4
n    6
x    5
dtype: int64

In [5]:
ser1.sort_values(ascending=False)

n    6
x    5
m    4
dtype: int64

In [6]:
df = DataFrame(data=np.arange(16).reshape(4,4),
              index=['o','p','t','a'],
              columns=['b','r','h','u'])
df

    b   r   h   u
o   0   1   2   3
p   4   5   6   7
t   8   9  10  11
a  12  13  14  15

In [7]:
df.sort_index(axis=0)

    b   r   h   u
a  12  13  14  15
o   0   1   2   3
p   4   5   6   7
t   8   9  10  11

In [8]:
df.sort_index(axis=1)

    b   h   r   u
o   0   2   1   3
p   4   6   5   7
t   8  10   9  11
a  12  14  13  15

KeyError: 'm'

In [10]:
df

    b   r   h   u
o   0   1   2   3
p   4   5   6   7
t   8   9  10  11
a  12  13  14  15

In [12]:
df.sort_values(by='r', ascending=False)

    b   r   h   u
a  12  13  14  15
t   8   9  10  11
p   4   5   6   7
o   0   1   2   3