In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [6]:
url ='https://archive.ics.uci.edu/ml/datasets/Auto+MPG'

import webbrowser
webbrowser.open(url)

True

In [10]:
pd.read_csv('veri_araba.csv',header=None)

                                                     0
0    18.0   8   307.0      130.0      3504.      12...
1    15.0   8   350.0      165.0      3693.      11...
2    18.0   8   318.0      150.0      3436.      11...
3    16.0   8   304.0      150.0      3433.      12...
4    17.0   8   302.0      140.0      3449.      10...
..                                                 ...
393  27.0   4   140.0      86.00      2790.      15...
394  44.0   4   97.00      52.00      2130.      24...
395  32.0   4   135.0      84.00      2295.      11...
396  28.0   4   120.0      79.00      2625.      18...
397  31.0   4   119.0      82.00      2720.      19...

[398 rows x 1 columns]

In [11]:
df = pd.read_fwf('veri_araba.csv',header=None)
df.head()

      0  1      2      3       4     5   6  7                            8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  "chevrolet chevelle malibu"
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          "buick skylark 320"
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         "plymouth satellite"
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              "amc rebel sst"
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                "ford torino"